* {
    font: 400 13.3333px Arial;
}
p {
    margin: 5px;
}

h1 {
    font-weight: bold;
    font-size: 2em;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    /*flex-direction: column;*/
    height: 100vh;
}
.display {
    background-color: #e1e1e1;
    height: auto;
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.enunciado{
    width: 25%;
    margin: 20px;
    padding: 15px;
    border: 1px solid black;
    text-align: justify;

}

.number {
    margin: 10px;
    height: 2em;
    padding: 0px 10px;
}

.calc {
    margin: 10px;
    height: 2em;
}

.result-container {
    padding: 10px;
    height: auto;
}

.result {
    background-color: white;
    height: auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}